/*--------------------------------------------------------------
|   Made Simple Test                                            |
|                                                               |
|                                                               |
|   Módulo CSS Customizando as páginas                          |
|                                                               |
|   Desenv.: Guilherme Leal                                     |
|                                                               |
|   Atualização : 01/08/2019                                    |
|                                                               |
|_______________________________________________________________|
*/

/*Configurações Gerais da página*/
html,
body {
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
.bg-primary{

  background: #e1e0de !important;
}

.coliguais{
    display: flex;
    flex-wrap: wrap;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: red;
}

section.login{
    
  width:100% !important;
  height:100%;
  min-height: 515px;
  background: url("../imgs/piano-1655558_1920.jpg") no-repeat;
  background-size: 100% 100%;
  margin-top:0px;
  color:#FFF;
  background-color: black;opacity: 0.5;
  filter: Alpha(opacity=50);
  
}

section.login .wrap-login {
    position:relative;
    margin-top: 70px;
        
    margin-left: auto;
    margin-right: auto;
    width:380px;
    height:510px;
    border-radius: 50px;
    
    
    border: 1px solid #ccc;
    background-color: whitesmoke;
    overflow: hidden;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000; 
}

section.login login-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

section.login h2{
    color: black;
    font-family: Poppins-Regular;
    ;
}


section.menupage{
    
  width:100% !important;
  height:100%;
  min-height: 515px;
  background: url("../imgs/piano-1655558_1920.jpg") no-repeat;
  background-size: 100% 100%;
  margin-top:0px;
  color:#FFF;
  background-color: black;opacity: 0.5;
  filter: Alpha(opacity=50);
  
}

section.menupage .wrap-menupage {
    position:relative;
    margin-top: 70px;
        
    margin-left: auto;
    margin-right: auto;
    width:380px;
    height:510px;
    border-radius: 50px;
    
    
    border: 1px solid #ccc;
    background-color: whitesmoke;
    overflow: hidden;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000; 
}

section.menupage h2{
    color: black;
    font-family: Poppins-Regular;
    ;
}

section.mainpage{
    
  width:100% !important;
  height:100%;
  min-height: 515px;
  background: url("../imgs/piano-1655558_1920.jpg") no-repeat;
  background-size: 100% 100%;
  margin-top:0px;
  color:#FFF;
  background-color: black;opacity: 0.5;
  filter: Alpha(opacity=50);
  
}

.btn-mainpage{
    margin-top: 20px;
}

.btn-mainpage-logout{
    margin-top: 70px;
}

section.mainpage .wrap-mainpage {
    position:relative;
    margin-top: 70px;
        
    margin-left: auto;
    margin-right: auto;
    width:380px;
    height:510px;
    border-radius: 50px;
    
    
    border: 1px solid #ccc;
    background-color: whitesmoke;
    overflow: hidden;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;  
}

section.mainpage mainpage-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

section.mainpage h2{
    color: black;
    font-family: Poppins-Regular;
    ;
}

section.mainpage .fa{
  font-size: 15px;
}


section.album-edit{
    
  width:100% !important;
  height:100%;
  min-height: 660px;
  background: url("../imgs/piano-1655558_1920.jpg") no-repeat;
  background-size: 100% 100%;
  margin-top:0px;
  color:#FFF;
  background-color: black;opacity: 0.5;
  filter: Alpha(opacity=50);
  
}



section.album-edit .wrap-album-edit {
    position:relative;
    margin-top: 30px;
        
    margin-left: auto;
    margin-right: auto;
    width:380px;
    height:610px;
    border-radius: 50px;
    
    
    border: 1px solid #ccc;
    background-color: whitesmoke;
    overflow: hidden;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;  
}

section.album-edit album-edit-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

section.album-edit h2{
    color: black;
    font-family: Poppins-Regular;
    ;
}

section.album-edit .fa{
  font-size: 15px;
}



.my-custom-scrollbar {
position: relative;
height: 300px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}



/* formulário de solicitação de consultor */ 
.form-bg{ background: #ddd; }
.form-horizontal .form-group{
    margin: 0 0 15px 0;
    position: relative;
}
.form-horizontal .form-control{
    height: 40px;
    background: rgba(0,0,0,0.2);
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    transition: all 0.3s ease 0s;
}

.form-horizontal .form-control:focus{
    box-shadow: none;
    outline: 0 none;
}
.form-horizontal .form-group label{
    padding: 0 20px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: bold;
}



.form-horizontal .main-checkbox{
    width: 20px;
    height: 20px;
    background: #eec111;
    float: left;
    margin: 5px 0 0 20px;
    border: 1px solid #eec111;
    position: relative;
}
.form-horizontal .main-checkbox label{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.form-horizontal .main-checkbox label:after{
    content: "";
    width: 10px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.form-horizontal .main-checkbox input[type=checkbox]{ visibility: hidden; }
.form-horizontal .main-checkbox input[type=checkbox]:checked + label:after{ opacity: 1; }
.form-horizontal .text{
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-left: 7px;
    line-height: 20px;
    padding-top: 5px;
    text-transform: capitalize;
}
.form-horizontal .btn{
    width: 100%;
    background: #8ab3d1;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 5px 0 30px 0;
}
.form-horizontal .btn:focus{
    background: #0000ff;
    color: #FFF;
    outline: none;
    box-shadow: none;
}
.form-horizontal .forgot-pass{
    border-top: 1px solid #615f6c;
    margin: 0;
    text-align: center;
}
.form-horizontal .forgot-pass .btn{
    width: auto;
    background: transparent;
    margin: 30px 0 0 0;
    color: #615f6c;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}
.form-horizontal .forgot-pass .btn:hover{ color: #eec111; }
@media only screen and (max-width: 479px){
    .tab{ padding: 40px 20px; }
}


.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}


@media only screen and (max-width: 768px) {
  /* Quando for mobile: */
  
  
    section.login .wrap-login {
        
        margin-top: 50px;
        
        width:300px;
        height:450px;

    }

    section.login img{
        width: 90px;
    }
    
    section.menupage{
        min-height: 600px;
    }
    
    section.album-edit{
        min-height: 640px;
    }

    section.menupage .wrap-menupage {
        
        margin-top: 15px;
        
        width:300px;
        height:540px;

    }
    
    section.mainpage{
        min-height: 600px;
    }
    
    .btn-mainpage{
        margin-top: 10px;
    }
    
    .btn-mainpage-logout{
        margin-top: 10px;
    }
    
    section.mainpage .wrap-mainpage {
        margin-top: 15px;
        
        width:300px;
        height:540px;
    }
    
    section.album-edit .wrap-album-edit {
        margin-top: 15px;
        
        width:300px;
        height:610px;
    }

  
}